OPENAI_API_KEY=<OPENAI_API_KEY>
PORT=<PORT>
SOLANA_RPC_URL=<SOLANA_RPC_URL>
PROGRAM_ID=<PROGRAM_ID>
MERCHANT_KEYPAIR_PATH=<MVP_MERCHANT_FILE_PATH>
PROMO_IDL_PATH=<PROMO_IDL_PATH>
SOLANA_PAY_BASE_URL=<SOLANA_PAY_BASE_URL>
PLATFORM_TREASURY_PUBKEY=<PLATFORM_TREASURY_PUBKEY>
SOLANA_CLUSTER=<devnet>